<nav class="top-nav">
  <div class="wrapper">

    <!-- hamburger menu icon -->
    {{#if showHamburger}}
      <button class="hamburger-icon" {{action 'toggleMenu'}}>&#9776;</button>
    {{/if}}

    <!-- display X and Nav Menu -->
    {{#unless showHamburger}}
      <button class="x-icon" {{action 'toggleMenu'}}>{{fa-icon 'times'}}</button>
    {{/unless}}

    <ul class="nav-items {{if showHamburger 'menu-hidden'}}">
      <li {{action 'closeMenu'}}>{{link-to 'Home' 'index' class='hvr-underline-from-center'}}</li>
      <li {{action 'closeMenu'}}>{{link-to 'The Couple' 'couple' class='hvr-underline-from-center'}}</li>
      <li {{action 'closeMenu'}}>{{link-to 'Wedding Details' 'details' class='hvr-underline-from-center'}}</li>
      <li {{action 'closeMenu'}}>{{link-to 'RSVP' 'rsvp' class='hvr-underline-from-center'}}</li>
      <li {{action 'closeMenu'}}>{{link-to 'Contact Us' 'contact' class='hvr-underline-from-center'}}</li>
    </ul>
  </div>
</nav>


{{yield}}
