<section class="contact">
  <div class="wrapper">
    <div class="contact-content fadeInFast">
      <h1>Contact Us</h1>
      <span class="description-contact">If you have any questions, please don't hesitate to get in touch with us:</span>
      <div class="contact-info">
        <div class="ali-left contact-cell">
          <h3>Ali</h3>
          <div class="phone">
            {{fa-icon "phone"}} 647-234-3456
          </div>
          <div class="email">
            {{fa-icon "envelope"}} example@gmail.com
          </div>

        </div>
        <div class="bryan-right contact-cell">
          <h3>Bryan</h3>
          <div class="phone">
            {{fa-icon "phone"}} 647-234-3456
          </div>
          <div class="email">
            {{fa-icon "envelope"}} example@gmail.com
          </div>
        </div>
      </div>
      <div class="contact-image">
        <img src="images/image11.jpg" alt="">
      </div>

    </div>
  </div>
</section>


{{outlet}}
