<section class="contact">
  <div class="wrapper">
    <div class="contact-content fadeInFast">
      <h1>Contact Us</h1>
      <span class="description-contact">If you have any questions, please don't hesitate to get in touch with us:</span>
      <div class="contact-info">
        <div class="ali-left contact-cell">
          <h3>Fran Grundman</h3>
          <div class="phone">
            {{fa-icon "phone"}} 416-414-6711
          </div>
          <div class="email">
            {{fa-icon "envelope"}} frangrundman@rogers.com
          </div>

        </div>
        <div class="bryan-right contact-cell">
          <h3>Shari Weinberg</h3>
          <div class="phone">
            {{fa-icon "phone"}} 416-801-4919
          </div>
          <div class="email">
            {{fa-icon "envelope"}} sweinberg@sympatico.ca
          </div>
        </div>
      </div>
      <div class="contact-image">
        <img src="images/image11.jpg" alt="">
      </div>

    </div>
  </div>
</section>


{{outlet}}
