<section class="rsvp">
  <div class="wrapper">
    <div class="rsvp-content fadeInFast">
      <div class="rsvp-box">
        <h1>Song Request</h1>
        <!-- Full name question -->
        <div class="fullName question-box">
          <label for="fullName">Your full name: </label>
          {{input type="text" id="fullName" autofocus="autofocus" value=nameValue}}

          <div class="soloButtonWrapper">
            <button class="soloButton" disabled={{isDisabledName}} {{action 'displayDanceQuestion'}} type="button" name="next">Next</button>
          </div>
        </div>

        {{#if displayDanceQuestion}}
        <!-- Promise to dance question -->
        <div class="dance question-box">
          <label for="dance">I promise to dance if you play:</label>
          {{input type="text" id="dance" value=danceValue placeholder="(eg. Hanson - Mmm Bop)"}}

          <div class="buttonsWrapper">
            <button type="button" name="back" {{action 'backToNameQuestion'}}>Back</button>
            <button type="button" name="next" {{action 'displayCommentsQuestion'}}>{{if danceValueContent 'Party on!' 'Next'}}</button>
          </div>

        </div>
        {{/if}}

        {{#if displayCommentsQuestion}}
          <!-- Comments question -->
          <div class="comments question-box">
            <label for="comments">Comments:</label>
            {{textarea id="comments" rows="5" value=commentsValue}}
            <div class="buttonsWrapper">
              <button type="button" name="back" {{action 'backToDanceQuestion'}}>Back</button>
              <button type="button" name="submit" {{action 'submitRSVP'}}>Submit</button>
            </div>

          </div>
        {{/if}}

        {{#if submitMessage}}
          {{#if willAttend}}
          <div class="submit-message"><span class="attending-message">{{attendingSubmitMessage}}</span></div>
          {{else}}
          <div class="submit-message"><span class="not-attending-message">{{notAttendingSubmitMessage}}</span></div>
          {{/if}}
          <!-- {{link-to 'Return to Home Page' 'home' class="return-home"}}  -->
          <a class="return-home" href="http://aliandbryan.ca">Return to Home Page</a>
        {{/if}}
      </div>
      {{outlet}}
    </div> <!-- / rsvp-content -->
  </div> <!-- /wrapper -->
</section>
