<h1>RSVP</h1>
<div class="rsvp-box">

  <!-- Full name question -->
  <div class="fullName question-box">
    <label for="fullName">Your full name:</label>
    {{input id="fullName" autofocus="autofocus" value=nameValue}}
    <button disabled={{isDisabledName}} type="button" name="next">NEXT</button>
  </div>

    <!-- Will you attend question -->
    <div class="attending question-box">
      <label for="attending">Will you attend?</label>
      Yes{{radio-button value=true checked=willAttend}}
      No{{radio-button value=false checked=willAttend}}

      {{#if willAttend}}
        <label for="numOfPeople">Number of people in your party:</label>
          1{{radio-button value=false checked=numPeople}}
          2{{radio-button value=true checked=numPeople}}
        </select>
      {{/if}}

      {{#if numPeople}}
        <label for="guestName">Name of your guest:</label>
        {{input id="guestName"}}
      {{/if}}
      <button type="button" name="back">BACK</button>
      <button type="button" disabled={{isDisabledAttending}} name="next">NEXT</button>
    </div>

    <!-- Your choice of entree question -->
    <div class="entree question-box">
      <label for="yourEntree">Your choice of entree:</label>
      Chicken{{input type="radio" name="entree" value="Chicken"}}
      Beef{{input type="radio" name="entree" value="Beef"}}
      Vegetarian{{input type="radio" name="entree" value="Vegetarian"}}
      <label for="yourDietary">Your dietary restrictions:</label>
      {{input id="yourDietary"}}

      <!-- Guest's choice of entree question -->
      <label for="yourEntree">Guest's choice of entree:</label>
      Chicken{{input type="radio" name="entree" value="Chicken"}}
      Beef{{input type="radio" name="entree" value="Beef"}}
      Vegetarian{{input type="radio" name="entree" value="Vegetarian"}}
      <label for="guestDietary">Guest's dietary restrictions:</label>
      {{input id="guestDietary"}}
      <button type="button" name="back">BACK</button>
      <button disabled={{isDisabledEntree}} type="button" name="next">NEXT</button>
    </div>

    <!-- Comments questions -->
    <div class="comments question-box">
      <label for="comments">Comments:</label>
      {{input id="comments"}}
      <button type="button" name="back">BACK</button>
      <button type="button" name="submit">SUBMIT</button>
    </div>

</div>

{{outlet}}
