<h1>RSVP</h1>
<div class="rsvp-box">

  <!-- Full name question -->
  <div class="fullName question-box">
    <label for="fullName">Your full name:</label>
    {{input id="fullName" autofocus="autofocus" value=nameValue}}
    <button disabled={{isDisabledName}} {{action 'displayAttendingQuestion'}} type="button" name="next">Next</button>
  </div>

  {{#if displayAttendingQuestion}}
    <!-- Will you attend question -->
    <div class="attending question-box">
      <label for="attending">Will you attend?</label>
      Yes{{radio-button value=true checked=willAttend}}
      No{{radio-button value=false checked=willAttend}}
      <!-- If yes, above, show -->
      {{#if willAttend}}
        <label for="numOfPeople">Number of people in your party:</label>
          1{{radio-button value=false checked=numPeople}}
          2{{radio-button value=true checked=numPeople}}
      {{/if}}
      <!-- If two, above, show -->
      {{#if numPeople}}
        <label for="guestName">Full name of your guest:</label>
        {{input id="guestName" value=guestName}}
      {{/if}}

      <button type="button" name="back" {{action 'backToNameQuestion'}}>Back</button>
      <button type="button" disabled={{if isDisabledAttending true false}} name="next" {{action 'displayDietaryQuestion'}}>Next</button>

    </div>

      {{#if displayDietaryQuestion}}
        <!-- User's dietary restriction question -->
        <div class="dietary question-box">
          <label for="yourDietary">{{nameValue}}'s dietary restrictions:</label>
          {{input id="yourDietary" placeholder="Leave blank if none"}}


        {{#if numPeople}}
          <!-- Guest's dietary restriction question -->
          <label for="guestDietary">{{guestName}}'s dietary restrictions:</label>
          {{input id="guestDietary" placeholder="Leave blank if none"}}
        {{/if}}

        <button type="button" name="back" {{action 'backToAttendingQuestion'}}>Back</button>
        <button type="button" name="next" {{action 'displayDanceQuestion'}}>Next</button>
        </div>
      {{/if}}

      {{#if displayDanceQuestion}}
        <!-- Promise to dance question -->
        <div class="dance question-box">
          <label for="dance">I promise to dance if you play:</label>
          {{input id="dance" value=danceValue placeholder="(eg. Rick Astley - Never Gonna Give You Up)"}}
          <button type="button" name="back" {{action 'backToDietaryQuestion'}}>Back</button>
          <button type="button" name="next" {{action 'displayCommentsQuestion'}}>{{if danceValueContent 'Party on!' 'Next'}}</button>
        </div>
      {{/if}}

      {{#if displayCommentsQuestion}}
        <!-- Comments question -->
        <div class="comments question-box">
          <label for="comments">Comments:</label>
          {{textarea id="comments" cols="10" rows="7" value=commentsValue}}
          <button type="button" name="back" {{action 'backToDanceQuestion'}}>Back</button>
          <button type="button" name="submit" {{action 'submitRSVP'}}>Submit</button>
        </div>
      {{/if}}
  {{/if}}

      {{#if submitMessage}}
        {{#if willAttend}}
          <div class="submit-message">{{attendingSubmitMessage}}</div>
        {{else}}
          <div class="submit-message">{{notAttendingSubmitMessage}}</div>
        {{/if}}
        {{link-to 'Return to Home Page' 'home'}}
      {{/if}}
</div>

{{outlet}}
