<nav>
  <div class="wrapper">
    <div class="navContent">
      <ul class="navItems">
        <li>{{link-to 'Home' 'index'}}</li>
        <li>{{link-to 'The Couple' 'couple'}}</li>
        <li>{{link-to 'Wedding Details' 'details'}}</li>
        <li>{{link-to 'RSVP' 'rsvp'}}</li>
        <li>{{link-to 'Contact Us' 'contact'}}</li>
      </ul>
    </div>
  </div>
</nav>
