<nav class="top-nav">
    <ul class="nav-items">
      <div class="nav-left">
        <li>{{link-to 'B & A' 'index'}}</li>
      </div>
      <div class="nav-right">
        <li>{{link-to 'The Couple' 'couple'}}</li>
        <li>{{link-to 'Wedding Details' 'details'}}</li>
        <li>{{link-to 'RSVP' 'rsvp'}}</li>
        <li>{{link-to 'Contact Us' 'contact'}}</li>
      </div>
    </ul>
</nav>
