<nav class="top-nav">
    <ul class="nav-items">
      <div class="nav-left">
        <li>{{link-to 'B & A' 'index'}}</li>
      </div>
      <div class="nav-right">
        <li>{{link-to 'The Couple' 'couple' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'Wedding Details' 'details' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'RSVP' 'rsvp' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'Contact Us' 'contact' class='hvr-underline-from-center'}}</li>
      </div>
    </ul>
</nav>
