<nav class="top-nav">
  <div>
    <ul class="nav-items">
        <li>{{link-to 'Home' 'index' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'The Couple' 'couple' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'Wedding Details' 'details' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'RSVP' 'rsvp' class='hvr-underline-from-center'}}</li>
        <li>{{link-to 'Contact Us' 'contact' class='hvr-underline-from-center'}}</li>
    </ul>
  </div>
</nav>
