<h3>Calculator</h3>
  <div class="calculator-body">
    <span class="screen">{{screen}}</span>
    <div class="button-wrapper">
      {{input type="button"}}
      {{input value="(" type="button"}}
      {{input value=")" type="button"}}
      {{input value="C" type="button"}}
      {{input value="7" type="button"}}
      {{input value="8" type="button"}}
      {{input value="9" type="button"}}
      {{input value="/" type="button"}}
      {{input value="4" type="button"}}
      {{input value="5" type="button"}}
      {{input value="6" type="button"}}
      {{input value="*" type="button"}}
      {{input value="1" type="button"}}
      {{input value="2" type="button"}}
      {{input value="3" type="button"}}
      {{input value="-" type="button"}}
      {{input value="0" type="button"}}
      {{input value="." type="button"}}
      {{input value="=" type="button"}}
      {{input value="+" type="button"}}
    </div>
  </div>
